<!DOCTYPE html>
<html lang="en">
 <head>
  {% load static %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <!--<link rel="manifest" href="/manifest.json" />-->
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Login</title>
  <link href="{% static '/css/login.css'%}" rel="stylesheet" />
 </head>
 <style>
  div{margin:0;border:0;padding:0;}

 </style>
 <body>
  <div style="height:100%">
   <div style="position:relative;top:50%;margin:-150px;left:50%;width: 300px;height: 300px;">
      <div >
         <h1 style="text-align:center;">登录</h1>
      </div>
      <div>
        <p style="text-align:center;">{{ status}}</p>
       </div>
      <div id="container" ></div>
  </div>
   </div>

  <script>var mountNode=document.getElementById("container")</script>
  <script type="text/javascript" src="{% static '/js/login.js'%}"></script>
 </body>
</html>