django-apscheduler==0.3.0
Django==2.2.7
djangorestframework==3.11.0
django-cors-headers==3.2.1
requests==2.23.0
Pillow==7.1.2
netifaces==0.10.9
urllib3==1.26.5
lxml==4.6.3
selenium==3.141.0
psycopg2==2.8.5
dwebsocket==0.5.12
opencv-python==4.4.0.42
numpy==1.18.5